{template '_header'}
<a href="{php echo mobileUrl('exchange.group',array('exchange'=>1));}">{php echo $lang['lang_plugin_exchange_template_mobile_default_group_0']}</a><br>
<a href="{php echo mobileUrl('exchange.group',array('exchange'=>2));}">{php echo $lang['lang_plugin_exchange_template_mobile_default_group_1']}</a><br>
<a href="{php echo mobileUrl('exchange.group',array('exchange'=>3));}">{php echo $lang['lang_plugin_exchange_template_mobile_default_group_2']}</a><br>
<a href="{php echo mobileUrl('exchange.group',array('exchange'=>4));}">{php echo $lang['lang_plugin_exchange_template_mobile_default_group_3']}</a><br>
<a href="{php echo mobileUrl('exchange.group',array('exchange'=>5));}">{php echo $lang['lang_plugin_exchange_template_mobile_default_group_4']}</a><br>
{template '_footer'}