{template 'pc/layout/_header'}
<link href="../addons/ewei_shopv2/plugin/pc/template/mobile/default/static/css/index.css" rel="stylesheet" type="text/css">
<script src="../addons/ewei_shopv2/plugin/pc/template/mobile/default/static/js/waypoints.js"></script>
<script type="text/javascript" src="../addons/ewei_shopv2/plugin/pc/template/mobile/default/static/js/home_index.js"
        charset="utf-8"></script>
<!--[if IE 6]>
<script type="text/javascript" src="../addons/ewei_shopv2/plugin/pc/template/mobile/default/static/js/ie6.js"
        charset="utf-8"></script>
<![endif]-->
<style type="text/css">
    .category {
        display: block !important;
    }
</style>
<div class="clear"></div>

<!-- HomeFocusLayout Begin-->
<div class="home-focus-layout fui-page">
    <ul id="fullScreenSlides" class="full-screen-slides">
        {loop $slides $slide}
            <li style="background: {php echo empty($slide['backcolor'])?'#DDD':$slide['backcolor']} url('{php echo tomedia($slide['thumb'])}') no-repeat center top">
                <a href="{$slide['link']}" target="_blank" title="{$slide['advname']}">&nbsp;</a>
            </li>
        {/loop}
    </ul>
    <div class="jfocus-trigeminybox">
        <a class="limited_time" title="{php echo $lang['lang_plugin_pc_template_mobile_default_index_0']}" href="#">
            <div class="clock-wrap">

            </div>
        </a>
        <div class="jfocus-trigeminy">
            <ul>
                <li>
                {loop $recommends $recommend}
                    <a href="{$recommend['link']}" target="_blank" title="{$recommend['advname']}">
                        <img src="../addons/ewei_shopv2/plugin/pc/template/mobile/default/static/images/loading.gif"
                             rel="lazy" style="width: 250px;height: 164px"
                             data-url="{php echo tomedia($recommend['thumb'])}" alt="{$recommend['advname']}"></a>
                {/loop}
                </li>
            </ul>
        </div>
    </div>
    <script type="text/javascript">
        update_screen_focus();
    </script>

    <div class="right-sidebar">
        <div class="right-panel">
            {if $user=check_login()}
            <div class="loginBox">
                <div class="exitPanel">
                    <img src={if empty($user['avatar'])}"/addons/ewei_shopv2/plugin/pc/template/web/static/images/default_user_portrait.gif"{else}
                        "{$user['avatar']}"{/if} alt=""/>
                    <div class="message">
                        <p class="name">Hi,
                            <a href="{php echo mobileUrl('pc.member')}">{$user['nickname']}</a>
                        </p>
                        <p class="logOut qiueExt">
                            [<a href="{php echo mobileUrl('pc.account.logout')}">{php echo $lang['lang_plugin_pc_template_mobile_default_index_1']}</a>]
                        </p>
                    </div>
                    <div class="clear"></div>
                </div>
                <!-- {php echo $lang['lang_plugin_pc_template_mobile_default_index_2']} -->

                <div class="txtPanel">
                    <a href="{php echo mobileUrl('pc.order',array('status'=>-2)) }" class="line">
                        <p class="num"></p>
                        <p class="txt">{php echo $lang['lang_plugin_pc_template_mobile_default_index_3']}</p>
                    </a> <a target="_blank" href="{php echo mobileUrl('pc.order',array('status'=>2)) }"
                            class="line">
                        <p class="num"></p>
                        <p class="txt">{php echo $lang['lang_plugin_pc_template_mobile_default_index_4']}</p>
                    </a> <a target="_blank" href="{php echo mobileUrl('pc.order',array('status'=>3)) }">
                        <p class="num"></p>
                        <p class="txt">{php echo $lang['lang_plugin_pc_template_mobile_default_index_5']}</p>
                    </a>
                </div>

                {else}
                <div class="loginBox">
                    <div class="welcomePanel"><img src="/addons/ewei_shopv2/plugin/pc/template/web/static/images/default_user_portrait.gif">
                        <p>Hi{php echo $lang['lang_plugin_pc_template_mobile_default_index_6']}</p>
                    </div>
                    <div class="loginPanel">
                        <a href="{php echo mobileUrl('pc.account.login')}" rel="nofollow">
                            <span class="loginTxt">
                                <img alt="" src="../addons/ewei_shopv2/plugin/pc/template/mobile/default/static/images/u-me.png">{php echo $lang['lang_plugin_pc_template_mobile_default_index_7']}</span>
                        </a>
                        <a href="{php echo mobileUrl('pc.account.register')}" rel="nofollow">
                            <span class="reigsterTxt">
                                <img alt="" src="../addons/ewei_shopv2/plugin/pc/template/mobile/default/static/images/u-pencil.png">{php echo $lang['lang_plugin_pc_template_mobile_default_index_8']}</span>
                        </a>
                    </div>
                </div>
                {/if}


                <div class="securePanel">
                    <li><img alt="{php echo $lang['lang_plugin_pc_template_mobile_default_index_9']}"
                             src="../addons/ewei_shopv2/plugin/pc/template/mobile/default/static/images/u-promise.png">
                        <p>{php echo $lang['lang_plugin_pc_template_mobile_default_index_10']}</p>
                    </li>
                    <li><img alt="{php echo $lang['lang_plugin_pc_template_mobile_default_index_11']}"
                             src="../addons/ewei_shopv2/plugin/pc/template/mobile/default/static/images/u-quality.png">
                        <p>{php echo $lang['lang_plugin_pc_template_mobile_default_index_12']}</p>
                    </li>
                    <li><img alt="{php echo $lang['lang_plugin_pc_template_mobile_default_index_13']}"
                             src="../addons/ewei_shopv2/plugin/pc/template/mobile/default/static/images/u-safe.png">
                        <p>{php echo $lang['lang_plugin_pc_template_mobile_default_index_14']}</p>
                    </li>
                </div>
                <div class="panelimg-side">
                    <ul>
                        <li>{php show_adv($lang['lang_plugin_pc_template_mobile_default_index_15'],230,165)}</li>
                    </ul>
                </div>

                <div class="clear"></div>
            </div>
        </div>
    </div>
    <!--HomeFocusLayout End-->
</div>

<div class="home-sale-layout wrapper">
    <div class="left-layout"><div class="index-sale">
            <ul class="tabs-nav">
                <li class="tabs-selected"><h3>{php echo $lang['lang_plugin_pc_template_mobile_default_index_16']}</h3></li>
                <li class=""><h3>{php echo $lang['lang_plugin_pc_template_mobile_default_index_17']}</h3></li>
                <li class=""><h3>{php echo $lang['lang_plugin_pc_template_mobile_default_index_18']}</h3></li>
                <li class=""><h3>{php echo $lang['lang_plugin_pc_template_mobile_default_index_19']}</h3></li>
                <li class=""><h3>{php echo $lang['lang_plugin_pc_template_mobile_default_index_20']}</h3></li>
            </ul>
            <div class="tabs-panel sale-goods-list ">
                <ul>
                    {loop $new_list['list'] $g}
                    <li>
                        <dl>
                            <dt class="goods-name"><a target="_blank" href="{php echo mobileUrl('pc.goods.detail',array('id'=>$g['id']))}" title="{$g['title']}">
                                    {$g['title']}</a></dt>
                            <dd class="goods-thumb">
                                <a target="_blank" href="{php echo mobileUrl('pc.goods.detail',array('id'=>$g['id']))}">
                                    <img src="{php echo tomedia($g['thumb'])}" alt="{$g['title']}" />
                                </a></dd>
                            <dd class="goods-price">{php echo $lang['lang_plugin_pc_template_mobile_default_index_21']}<em>&yen;{$g['marketprice']}</em></dd>
                        </dl>
                    </li>
                    {/loop}

                </ul>
            </div>
            <div class="tabs-panel sale-goods-list tabs-hide">
                <ul>
                    {loop $hot_list['list'] $g}
                        <li>
                            <dl>
                                <dt class="goods-name"><a target="_blank" href="{php echo mobileUrl('pc.goods.detail',array('id'=>$g['id']))}" title="{$g['title']}">
                                        {$g['title']}</a></dt>
                                <dd class="goods-thumb">
                                    <a target="_blank" href="{php echo mobileUrl('pc.goods.detail',array('id'=>$g['id']))}">
                                        <img src="{php echo tomedia($g['thumb'])}" alt="{$g['title']}" />
                                    </a></dd>
                                <dd class="goods-price">{php echo $lang['lang_plugin_pc_template_mobile_default_index_22']}<em>&yen;{$g['marketprice']}</em></dd>
                            </dl>
                        </li>
                    {/loop}

                </ul>
            </div>
            <div class="tabs-panel sale-goods-list tabs-hide">
                <ul>
                    {loop $time_list['list'] $g}
                        <li>
                            <dl>
                                <dt class="goods-name"><a target="_blank" href="{php echo mobileUrl('pc.goods.detail',array('id'=>$g['id']))}" title="{$g['title']}">
                                        {$g['title']}</a></dt>
                                <dd class="goods-thumb">
                                    <a target="_blank" href="{php echo mobileUrl('pc.goods.detail',array('id'=>$g['id']))}">
                                        <img src="{php echo tomedia($g['thumb'])}" alt="{$g['title']}" />
                                    </a></dd>
                                <dd class="goods-price">{php echo $lang['lang_plugin_pc_template_mobile_default_index_23']}<em>&yen;{$g['marketprice']}</em></dd>
                            </dl>
                        </li>
                    {/loop}

                </ul>
            </div>
            <div class="tabs-panel sale-goods-list tabs-hide">
                <ul>
                    {loop $discount_list['list'] $g}
                        <li>
                            <dl>
                                <dt class="goods-name"><a target="_blank" href="{php echo mobileUrl('pc.goods.detail',array('id'=>$g['id']))}" title="{$g['title']}">
                                        {$g['title']}</a></dt>
                                <dd class="goods-thumb">
                                    <a target="_blank" href="{php echo mobileUrl('pc.goods.detail',array('id'=>$g['id']))}">
                                        <img src="{php echo tomedia($g['thumb'])}" alt="{$g['title']}" />
                                    </a></dd>
                                <dd class="goods-price">{php echo $lang['lang_plugin_pc_template_mobile_default_index_24']}<em>&yen;{$g['marketprice']}</em></dd>
                            </dl>
                        </li>
                    {/loop}

                </ul>
            </div>
            <div class="tabs-panel sale-goods-list tabs-hide">
                <ul>
                    {loop $recommand_list['list'] $g}
                        <li>
                            <dl>
                                <dt class="goods-name"><a target="_blank" href="{php echo mobileUrl('pc.goods.detail',array('id'=>$g['id']))}" title="{$g['title']}">
                                        {$g['title']}</a></dt>
                                <dd class="goods-thumb">
                                    <a target="_blank" href="{php echo mobileUrl('pc.goods.detail',array('id'=>$g['id']))}">
                                        <img src="{php echo tomedia($g['thumb'])}" alt="{$g['title']}" />
                                    </a></dd>
                                <dd class="goods-price">{php echo $lang['lang_plugin_pc_template_mobile_default_index_25']}<em>&yen;{$g['marketprice']}</em></dd>
                            </dl>
                        </li>
                    {/loop}

                </ul>
            </div>
        </div>
    </div>
    <div class="right-sidebar">
        <div class="title">
            <h3>{php echo $lang['lang_plugin_pc_template_mobile_default_index_26']}</h3>
        </div>
        <div class="news">
            <ul>
                {loop $notice_list $notice}
                <li><a target="_blank" href="{php echo mobileUrl('pc.shop.notice.detail',array('mk'=>'detail','id'=>$notice['id'])) }" title="{$notice['title']}">{php echo truncateCn($notice['title'],11)}</a>
                    <time style="float:right;margin-right: 10px">({php echo date('m-d',$notice['createtime'])})</time>
                </li>
                {/loop}
            </ul>
        </div>
        <div class="ntrance">
            <ul>
                <li><a rel="nofollow" href="#" target="_self"><i class="i_ico01"></i>{php echo $lang['lang_plugin_pc_template_mobile_default_index_27']}</a></li>
                <li><a rel="nofollow" href="#" target="_blank"><i class="i_ico02"></i>7{php echo $lang['lang_plugin_pc_template_mobile_default_index_28']}</a></li>
                <li><a rel="nofollow" href="#" target="_blank"><i class="i_ico03"></i>{php echo $lang['lang_plugin_pc_template_mobile_default_index_29']}</a></li>
                <li><a rel="nofollow" href="#" target="_self"><i class="i_ico04"></i>{php echo $lang['lang_plugin_pc_template_mobile_default_index_30']}</a></li>
                <li><a rel="nofollow" href="#" target="_self"><i class="i_ico05"></i>{php echo $lang['lang_plugin_pc_template_mobile_default_index_31']}</a></li>
                <li><a rel="nofollow" href="#" target="_self"><i class="i_ico06"></i>{php echo $lang['lang_plugin_pc_template_mobile_default_index_32']}</a></li>

            </ul>
        </div>
    </div>
</div>

<div class="wrapper">
    <div class="mt10">
        <div class="mt10">
            {php show_adv($lang['lang_plugin_pc_template_mobile_default_index_33'],'1200','90','_blank')}
        </div>
    </div>
</div>


<!--StandardLayout Begin-->
{php $i=1}
{loop $categories['parent'] $parent}
    <div class="home-standard-layout wrapper {php echo $this->style($i)}">
        <div class="left-sidebar">
            <div class="title">
                <div class="txt-type">
                    <span>{php echo $i++ }F</span>
                    <h2 title="{$parent['name']}">{$parent['name']}</h2>
                </div>
            </div>
            <div class="recommend-classes">
                <ul>
                    {loop $categories['children'][$parent['id']] $children}
                        <li><a href="#" title="{$children['name']}" target="_blank">{$children['name']}</a></li>
                    {/loop}
                </ul>
            </div>
            <div class="left-ads">
                <a href="#" title="" target="_blank">
                    <img src="../addons/ewei_shopv2/plugin/pc/template/mobile/default/static/images/loading.gif" alt=""
                         data-url="{php echo tomedia($parent['advimg'])}"
                         rel="lazy"/>
                </a>
            </div>
            <div class="left-hot-goods">
                <p>{php echo $lang['lang_plugin_pc_template_mobile_default_index_34']}</p>
                <ul>
                    {php $goodslist = $this->goods_list(array('cate' => $parent['id'], 'pagesize' => 2, 'ishot' => 1))}
                    {loop $goodslist['list'] $g}
                        <li><i></i><a target="_blank" title="{$g['title']}"
                                      href="{php echo mobileUrl('pc.goods.detail',array('id'=>$g['id']))}">{$g['title']}</a>
                        </li>
                    {/loop}
                </ul>
            </div>
        </div>
        <div class="middle-layout">
            <ul class="right-brand">
                <li>
                    <a href="#" title="" target="_blank">{php echo $lang['lang_plugin_pc_template_mobile_default_index_35']}</a>
                </li>
            </ul>
            <ul class="tabs-nav">

                <li class="tabs-selected"><i class="arrow"></i>
                    <h3>{php echo $lang['lang_plugin_pc_template_mobile_default_index_36']}</h3></li>
            </ul>
            <div class="right-side-layout">
                <div class="right-side-focus">

                    <ul>
                        {php $goodslist = $this->goods_list(array('cate' => $parent['id'], 'pagesize' => 3, 'isrecommand' => 1))}
                        {loop $goodslist['list'] $g}
                            <li><a href="{php echo mobileUrl('pc.goods.detail',array('id'=>$g['id']))}"
                                   title="{$g['title']}" target="_blank">
                                    <img src="../addons/ewei_shopv2/plugin/pc/template/mobile/default/static/images/loading.gif"
                                         alt="{$g['title']}"
                                         data-url="{$g['thumb']}"
                                         rel="lazy"/>
                                </a>
                            </li>
                        {/loop}

                    </ul>

                </div>

            </div>
            <div class="tabs-panel middle-goods-list">
                <ul>
                    {php $goodslist = $this->goods_list(array('cate' => $parent['id'], 'pagesize' => 6));}
                    {loop $goodslist['list'] $g}
                        <li>
                            <dl>
                                <dt class="goods-name">
                                    <a target="_blank" href="{php echo mobileUrl('pc.goods.detail',array('id'=>$g['id']))}"
                                       title="{$g['title']}" target="_blank">{$g['title']}</a></dt>
                                <dd class="goods-thumb">
                                    <a target="_blank" href="{php echo mobileUrl('pc.goods.detail',array('id'=>$g['id']))}">
                                        <img src="{$g['thumb']}" alt="{$g['title']}" data-url="{$g['thumb']}" rel="lazy" style="display: inline;">
                                    </a>
                                </dd>
                                <dd class="goods-price"><em>{php echo $lang['lang_plugin_pc_template_mobile_default_index_37']}{$g['marketprice']}</em>
                                </dd>
                            </dl>
                        </li>
                    {/loop}
                </ul>
            </div>


        </div>
    </div>
{/loop}
<!--StandardLayout End-->

<div class="wrapper mt10">
    {php show_adv($lang['lang_plugin_pc_template_mobile_default_index_38'],'1200','90','_blank')}
</div>
<div class="index-link wrapper">
    <dl class="website">
        <dt>{php echo $lang['lang_plugin_pc_template_mobile_default_index_39']} | {php echo $lang['lang_plugin_pc_template_mobile_default_index_40']}<b></b></dt>
        <dd>
            {php $links = get_links()}
            {loop $links $link}
            <a href="{$link['url']}" target="_blank" title="{$link['linkname']}">{$link['linkname']}</a>
            {/loop}
        </dd>
    </dl>
</div>
<div class="footer-line"></div>
<!--{php echo $lang['lang_plugin_pc_template_mobile_default_index_41']}-->
<div id="cti">
    <div class="wrapper">
        <ul>
            <li><span class="line"></span> <span class="icon"> <img style="width: 60px;" src="../addons/ewei_shopv2/plugin/pc/template/mobile/default/static/images/shop/7day_60.gif"> </span> <span class="name"> 7{php echo $lang['lang_plugin_pc_template_mobile_default_index_42']} </span> </li>
            <li><span class="line"></span> <span class="icon"> <img style="width: 60px;" src="../addons/ewei_shopv2/plugin/pc/template/mobile/default/static/images/shop/pz_60.gif"> </span> <span class="name"> {php echo $lang['lang_plugin_pc_template_mobile_default_index_43']} </span> </li>
            <li><span class="line"></span> <span class="icon"> <img style="width: 60px;" src="../addons/ewei_shopv2/plugin/pc/template/mobile/default/static/images/shop/psbf_60.gif"> </span> <span class="name"> {php echo $lang['lang_plugin_pc_template_mobile_default_index_44']} </span> </li>
            <li><span class="line"></span> <span class="icon"> <img style="width: 60px;" src="../addons/ewei_shopv2/plugin/pc/template/mobile/default/static/images/shop/jswl_60.gif"> </span> <span class="name"> {php echo $lang['lang_plugin_pc_template_mobile_default_index_45']} </span> </li>
        </ul>
    </div>
</div>
<!--{php echo $lang['lang_plugin_pc_template_mobile_default_index_46']}-->
<!--StandardLayout Begin-->
<div id="nav_box">
    <ul>
        {php $i = 1}
        {loop $categories['parent'] $parent}
        <li class="nav_h_{$i}"><a href="javascript:;" class="num">{php echo $i++}F</a>
            <a href="javascript:;" class="word">{$parent['name']}</a>
        </li>
        {/loop}
    </ul>
</div>
<!--StandardLayout End-->
{template 'pc/layout/_footer'}
