{template '_header'}
{template 'merch/common'}
<div class="fui-page page-merch-register">
    <div class="fui-content">

        <img class="regbg" src="{if empty($set['regbg'])}../addons/ewei_shopv2/plugin/merch/template/mobile/default/static/images/regbg.png{else}{php echo tomedia($set['regbg'])}{/if}"/>

        {if !empty($user)}

        {else}

                {if !empty($reg)}

                        {if $reg['status']==-1}

                        <div class="fui-alert fui-alert-danger">
                            <p>{php echo $lang['lang_plugin_merch_template_mobile_default_register_0']}</p>
                            <p>{$reg['reason']}</p>
                            <p>{php echo $lang['lang_plugin_merch_template_mobile_default_register_1']}</p>
                        </div>

                        {else}
                        <div class="fui-alert fui-alert-warning">
                            <p>{php echo $lang['lang_plugin_merch_template_mobile_default_register_2']}!</p>
                            <p>{php echo $lang['lang_plugin_merch_template_mobile_default_register_3']}</p>
                        </div>
                        {/if}
                {/if}

        <div class="fui-cell-group">
            <div class="fui-cell must ">
                <div class="fui-cell-label">{php echo $lang['lang_plugin_merch_template_mobile_default_register_4']}</div>
                <div class="fui-cell-info"><input type="text" class="fui-input" id="merchname" placeholder="{php echo $lang['lang_plugin_merch_template_mobile_default_register_5']}" value="{$reg['merchname']}"/></div>
            </div>
            <div class="fui-cell must ">
                <div class="fui-cell-label">{php echo $lang['lang_plugin_merch_template_mobile_default_register_6']}</div>
                <div class="fui-cell-info"><input type="text" class="fui-input" id="salecate" placeholder="{php echo $lang['lang_plugin_merch_template_mobile_default_register_7']}, {php echo $lang['lang_plugin_merch_template_mobile_default_register_8']}" value="{$reg['salecate']}"/></div>
            </div>
            <div class="fui-cell ">
                <div class="fui-cell-label">{php echo $lang['lang_plugin_merch_template_mobile_default_register_9']}</div>
                <div class="fui-cell-info"><textarea id="desc" placeholder="{php echo $lang['lang_plugin_merch_template_mobile_default_register_10']}">{$reg['desc']}</textarea></div>
            </div>

        </div>
        <div class="fui-cell-group">
            <div class="fui-cell must ">
                <div class="fui-cell-label">{php echo $lang['lang_plugin_merch_template_mobile_default_register_11']}</div>
                <div class="fui-cell-info"><input type="text" class="fui-input" id="realname" placeholder="{php echo $lang['lang_plugin_merch_template_mobile_default_register_12']}" value="{$reg['realname']}"></div>
            </div>
            <div class="fui-cell must ">
                <div class="fui-cell-label">{php echo $lang['lang_plugin_merch_template_mobile_default_register_13']}</div>
                <div class="fui-cell-info"><input type="tel" class="fui-input" id="mobile" placeholder="{php echo $lang['lang_plugin_merch_template_mobile_default_register_14']}" value="{$reg['mobile']}"/></div>
            </div>
            <div class="fui-cell-tip">{php echo $lang['lang_plugin_merch_template_mobile_default_register_15']}~</div>

        </div>

        <div class="fui-cell-group">
            <div class="fui-cell must ">
                <div class="fui-cell-label">{php echo $lang['lang_plugin_merch_template_mobile_default_register_16']}</div>
                <div class="fui-cell-info"><input type="text" class="fui-input" id="uname" placeholder="{php echo $lang['lang_plugin_merch_template_mobile_default_register_17']}" value="{$reg['uname']}" maxlength="20"></div>
            </div>
            <div class="fui-cell must ">
                <div class="fui-cell-label">{php echo $lang['lang_plugin_merch_template_mobile_default_register_18']}</div>
                <div class="fui-cell-info"><input type="tel" class="fui-input" id="upass" placeholder="{php echo $lang['lang_plugin_merch_template_mobile_default_register_19']}" value="" maxlength="20"/></div>
            </div>
            <div class="fui-cell-tip">{php echo $lang['lang_plugin_merch_template_mobile_default_register_20']},{php echo $lang['lang_plugin_merch_template_mobile_default_register_21']}</div>

        </div>

                {if $template_flag}

                {template 'diyform/formfields'}

                {/if}


                {if $set['open_protocol'] == 1}
                <div class="fui-cell-group">
                    <div class="fui-cell small ">
                        <div class="fui-cell-info">

                            <label class="checkbox-inline">
                                <input type="checkbox" class="fui-checkbox-primary" id="agree" {if !empty($reg)}checked{/if}/> {php echo $lang['lang_plugin_merch_template_mobile_default_register_22']}<a id="btn-apply" style="color:#337ab7;">{php echo $lang['lang_plugin_merch_template_mobile_default_register_23']}{$apply_set['applytitle']}{php echo $lang['lang_plugin_merch_template_mobile_default_register_24']}</a>{php echo $lang['lang_plugin_merch_template_mobile_default_register_25']}
                            </label>

                        </div>
                    </div>

                </div>
                {/if}

                <a class="btn btn-warning btn-submit block"> {if empty($reg)}{php echo $lang['lang_plugin_merch_template_mobile_default_register_26']}{else}{php echo $lang['lang_plugin_merch_template_mobile_default_register_27']}{/if}</a>
        {/if}

        <div class="pop-apply-hidden" style="display: none;">
            <div class="verify-pop pop">
                <div class="close"><i class="icon icon-roundclose"></i></div>
                <div class="qrcode">
                    <div class="inner">
                        <div class="title">{$set['applytitle']}</div>
                        <div class="text">{$set['applycontent']}</div>
                    </div>
                    <div class="inner-btn" style="padding: 0.5rem">
                        <div class="btn btn-warning" style="width: 100%; margin: 0">{php echo $lang['lang_plugin_merch_template_mobile_default_register_28']}</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script language="javascript">
        require(['../addons/ewei_shopv2/plugin/merch/static/js/register.js'], function (modal) {
            modal.init({php echo json_encode($apply_set)});
        })
    </script>
</div>
{template '_footer'}
