<div class="fui-navbar">
    <a href="{php echo mobileUrl('mmanage')}" class="external nav-item {if $_W['routes']=='mmanage'}active{/if}">
        <span class="icon icon-home"></span>
        <span class="label">{php echo $lang['lang_plugin_mmanage_template_mobile_default__menu_0']}</span>
    </a>

    {ifp 'member'}
        <a href="{php echo mobileUrl('mmanage/member')}" class="external nav-item {if $_W['controller']=='member'}active{/if}">
            <span class="icon icon-group"></span>
            <span class="label">{php echo $lang['lang_plugin_mmanage_template_mobile_default__menu_1']}</span>
        </a>
    {/if}

    {ifp 'order'}
        <a href="{php echo mobileUrl('mmanage/order', array('status'=>1))}" class="external nav-item {if $_W['controller']=='order'}active{/if}">
            <span class="icon icon-rejectedorder"></span>
            <span class="label">{php echo $lang['lang_plugin_mmanage_template_mobile_default__menu_2']}</span>
        </a>
    {/if}

    {ifp 'finance'}
        <a href="{php echo mobileUrl('mmanage/finance')}" class="external nav-item {if $_W['controller']=='finance'}active{/if}">
            <span class="icon icon-home"></span>
            <span class="label">{php echo $lang['lang_plugin_mmanage_template_mobile_default__menu_3']}</span>
        </a>
    {/if}

    <a href="{php echo mobileUrl('mmanage/set')}" class="external nav-item {if $_W['controller']=='set'}active{/if}">
        <span class="icon icon-set"></span>
        <span class="label">{php echo $lang['lang_plugin_mmanage_template_mobile_default__menu_4']}</span>
    </a>


</div>
