{template '_header'}
<script>document.title = "{php echo $lang['lang_plugin_diypage_template_mobile_default_exchange_0']}"; </script>

<link rel="stylesheet" href="../addons/ewei_shopv2/plugin/exchange/static/css/common.css?v=201610091000">
<link href="../addons/ewei_shopv2/plugin/diypage/static/css/foxui.diy.css?v=201610091000"rel="stylesheet"type="text/css"/>

<div class='fui-page fui-page-current'>

    <div class="fui-content">

        {loop $diypage['items'] $diyitem}
            {template 'diypage/template/tpl_'.$diyitem['id']}
        {/loop}

        <div class="alert-success-outer" style="display: none;">
            <div class="alert-success">
                <div class="text" id="status1">{php echo $lang['lang_plugin_diypage_template_mobile_default_exchange_1']}</div>
                <div class="btn btn-warning">{php echo $lang['lang_plugin_diypage_template_mobile_default_exchange_2']}</div>
            </div>
        </div>

        <div class="alert-error-outer" style="display: none;">
            <div class="alert-error">
                <div class="text" id="status0">{php echo $lang['lang_plugin_diypage_template_mobile_default_exchange_3']}</div>
                <div class="btn btn-warning">{php echo $lang['lang_plugin_diypage_template_mobile_default_exchange_4']}</div>
            </div>
        </div>

    </div>
    <input type="hidden" name="url" value="{php echo mobileUrl('exchange',array(),1);}" id="url">
</div>

<script language='javascript'>
    require(['../addons/ewei_shopv2/plugin/exchange/static/js/common.js'],function(modal){
        modal.init({
            style: {
                exbtntext: "{$diypage['exchange_input']['params']['exbtntext']}",
                exbtn2text: "{$diypage['exchange_input']['params']['exbtn2text']}",
            }
        });
    });
</script>

{template '_footer'}