<div class="fui-cell-group fui-cell-click" style="margin-top: {$diyitem['style']['margintop']}px; background-color: {$diyitem['style']['background']};">
    <a class="fui-cell external" href="{$diyitem['params']['bindurl']}">
        <div class="fui-cell-text" style="text-align: center; color: {$diyitem['style']['textcolor']};"><p>{php echo $lang['lang_plugin_diypage_template_mobile_default_template_tpl_logout_0']}</p></div>
    </a>
    <a class="fui-cell external" href="{$diyitem['params']['logouturl']}">
        <div class="fui-cell-text" style="text-align: center; color:{$diyitem['style']['textcolor']};"><p>{php echo $lang['lang_plugin_diypage_template_mobile_default_template_tpl_logout_1']}</p></div>
    </a>
</div>